* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* 1 */
#categories{
  max-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.item{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  margin: auto;
  width: 392px;
  height: auto;
  background-color: #f6f6fe;
}
.item h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.item ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  height: auto;  
}
.item ul li{
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}
.item ul li p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* 2 */

.gallery{
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  margin: 100px auto;
  row-gap: 48px;
  column-gap: 24px;
}
.gallery-item{
  max-width: 360px;
  height: 300px;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* 3 */
#name-input{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin: 24px 24px 16px 24px;
  outline: transparent;
}
h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 24px;
}
/* 4 */
.login-form{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
}
.login-form label{
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form input{
  margin-top: 8px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  color: #2e2f42;
  outline: transparent;
}
.login-form button{
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* 5 */
.widget{
  padding: 100px 88px;
  border-radius: 8px;
  padding: 100px 88px;
  width: 345px;
  height: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
}
.widget p{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}
.change-color{
  display: block;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
