* {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1440px;
  padding: 0 156px 0 156px;
  margin: 0 auto 0 auto;
} 
.gallery{
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  margin: 24px auto;
  gap: 24px;
}
.gallery-item{
  width: 360px;
  height: 200px;
  overflow: hidden;

  transition: transform 0.6s cubic-bezier(0.22. 1, 0.36, 1);
}
.gallery-item:hover{
  transform: scale(1.05);
}
.gallery-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}